@import "./reset.css";

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("./fonts/Montserrat-Bold.ttf");
}

// ---------------- standard ----------------

*{
    //&::-webkit-scrollbar{
    //    width: 15px;
    //    height: 15px;
    //}
    //&::-webkit-scrollbar-track-piece  {
    //    background-color: #2b2b2c;
    //}
    //&::-webkit-scrollbar-thumb{
    //    background-color: #5f6161;
    //}

    color: #383839;
    box-sizing: border-box;
}
#app{
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    //font-weight: 600;
    font-size: 1rem;
}
span{
    font-size: 1rem;
    line-height: 1.25rem;
}
p,.likeP{
    font-size: 1rem;
    line-height: 1.25rem;
}
h2,.likeH2{
    font-size: 2rem;
    line-height: 2.5rem;
}
h1,.likeH1{
    font-size: 3rem;
    line-height: 3.75rem;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
.flexWrap{
    display: flex;
    flex-wrap: wrap;
}
.justifyCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.overflowVisible{
    overflow: inherit;
}

// ---------------- custom ----------------

.fakeInput{
    position: relative;
    &>span{
        position: absolute;
        left: 7px;
        top: 7px;
        color: rgba(56, 56, 57, 0.6);
    }
    &>input{
        font: inherit;
        outline: inherit;
        border: 2px solid rgba(56, 56, 57, 0.6);
        border-radius: 5px;
        background-color: #fdfdfe;
        padding: 30px 7px 7px 7px;
        color: #383839;
        resize: vertical;
        width: 100%;
        &:hover{
            transition: all .3s ease-in-out;
            border-color: #01a6fc;
        }
        &:focus{
            transition: all .1s ease-in-out;
            border-color: #01a6fc;
        }
    }
}