@import "./reset.css";

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto Light";
    src: url("./fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto Bold";
    src: url("./fonts/Roboto-Bold.ttf");
}

// ---------------- standard ----------------

*{
    &::-webkit-scrollbar{
        width: 15px;
        height: 15px;
    }
    &::-webkit-scrollbar-track-piece  {
        background-color: #2b2b2c;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #5f6161;
    }

    color: aliceblue;
    box-sizing: border-box;
}
#app{
    background-color: #3c3f41;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}
span{
    font-size: 1rem;
    line-height: 1.25rem;
}
p,.likeP{
    font-size: 1rem;
    line-height: 1.25rem;
}
h2,.likeH2{
    font-size: 2rem;
    line-height: 2.5rem;
}
h1,.likeH1{
    font-size: 3rem;
    line-height: 3.75rem;
}
.littleText{
    font-family: Roboto Light, sans-serif;
    font-size: .8rem;
    line-height: 1rem;
}
.robotoLight{
    font-family: Roboto Light, sans-serif;
}
.robotoBold{
    font-family: Roboto Bold, sans-serif;
}

button,.likeButton{
    font: inherit;
    cursor: pointer;
    background-color: #313336;
    outline: inherit;
    border: 2px solid #2b2b2c;
    border-radius: 15px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    transition: all .3s ease-in-out;
    &:hover{
        transition: all .3s ease-in-out;
        background-color: #2b2b2c;
    }
    &:active{
        transition: all .1s ease-in-out;
        border: 2px solid aliceblue;
    }
}
input,textarea{
    font: inherit;
    outline: inherit;
    border: 2px solid #2b2b2c;
    background-color: #2b2b2c;
    padding: 10px;
    resize: vertical;
    &:hover{
        transition: all .3s ease-in-out;
        background-color: #313336;
    }
    &:focus{
        transition: all .1s ease-in-out;
        background-color: #313336;
    }
    &::-webkit-outer-spin-button,&::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
    &::-webkit-input-placeholder{
        color: #5f6161;
    }
}
select,option{
    color: #3c3f41;
}
br{
    margin: 10px;
}
.nav-link{
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    background-color: #313336;
    border: 2px solid #2b2b2c;
    padding: 10px;
}
.my-active{
    background-color: tomato;
}
.orange{
    color: orange;
}
.chartreuse{
    color: chartreuse;
}
.tomato{
    color: tomato;
}
.bg1{
    background-color: #3c3f41;
}
.bg2{
    background-color: #313336;
}
.bg3{
    background-color: #2b2b2c;
}
.none{
    display: none;
}
.flex{
    display: flex;
}
.flexWrap{
    display: flex;
    flex-wrap: wrap;
}
.justifyCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.overflowVisible{
    overflow: inherit;
}